h1 {
  text-align: center; /* Center align the heading */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 5% auto 5% auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



