.button{
    background-color: red;
    border-radius: 10px;
    width: 200px;
    margin-top: 5%;
    margin-bottom: 5%;
    cursor: pointer;
}
.button:hover{
    background-color: #e70f0f;
}
.container{
}

.checkout{
    
}